# Compiler files
cache/
out/

# Broadcast files
broadcast/

# Commonly ignored directories
.logs/
.ignore/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Ignores development note
record.md
improvetest.md
